#django related requirements
django
django-restframework 
djangorestframework-xml
drf-spectacular
django-debug-toolbar
django-filter

django-cors-headers
# Crypto related requirements
pycryptodome

#testing
pytest
pytest-django
selenium
pytest-selenium 
