.entry {
    border: 5px solid var(--color-entry-open);
    border-style: none solid none solid;
    margin: 0.5rem;
}

.s0 {
    border-color: var(--color-entry-open);
}

.s1 {
    border-color: orange;
}

.s2 {
    border-color: green;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

    * {
        max-height: 50vh;
    }
}

.card{
    background-color: var(--color-card-bg);
    border-radius: var(--border-radius);
    padding: 1rem;
    box-shadow: 1px 1px 3px 1px var(--color-shadow);

    img{
        max-width: 100%;
        max-height: 25rem;
    }
    overflow: auto;
}

#main-section {
    text-align: center;

    a {
        background: var(--color-accent);
        padding: 1rem;
        border-radius: var(--border-radius);
        box-shadow: 1px 1px 3px 1px var(--color-shadow);


    }
}

#map-container {
    padding: 1rem;
    margin: 0.5rem;
}

#map {
    height: 20rem;
    border-radius: var(--border-radius);
}
